h1 {
    color: mediumvioletred;
    text-align: center; font-family: Georgia, 'Times New Roman', Times, serif;
  }
  p {
    font-family: Georgia
  }
 h2 {
  color:palevioletred ; 
  font-family: Georgia ; 
  text-align: center; 
  background-color: lavenderblush;
  border-radius: 10px;
}

img {
   border-radius: 15px ;
    text-align: center;
   margin: auto;
   display: block;
 }

  ul { font-family: Georgia;}
  a{color: rgb(216, 112, 147); text-decoration: none;  } 
  a:hover {color: pink;} 
 
