h1 {
    color: mediumvioletred;
    text-align: center; font-family: Georgia;
  }
  p {
    font-family: Georgia
  }
 h2 {
  color:palevioletred ; 
  font-family: Georgia ; 
  text-align: center; 
  background-color: lavenderblush;
  border-radius: 10px;
}

img {
   border-radius: 15px ;
    text-align: center;
   margin: auto;
   display: block;
 }

  ul { font-family: Georgia;}
  a{color: palevioletred; }
